<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sale-heading" data-cy="SaleCreateUpdateHeading">Genera o modifica un Sale</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nomeRef = editForm.get('nome')!;
        <div class="mb-3">
          <label class="form-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          @if (nomeRef.invalid && (nomeRef.dirty || nomeRef.touched)) {
            <div>
              @if (editForm.get('nome')?.errors?.required) {
                <small class="form-text text-danger">Questo campo è obbligatorio.</small>
              }
            </div>
          }
        </div>

        @let capienzaRef = editForm.get('capienza')!;
        <div class="mb-3">
          <label class="form-label" for="field_capienza">Capienza</label>
          <input type="number" class="form-control" name="capienza" id="field_capienza" data-cy="capienza" formControlName="capienza" />
          @if (capienzaRef.invalid && (capienzaRef.dirty || capienzaRef.touched)) {
            <div>
              @if (editForm.get('capienza')?.errors?.required) {
                <small class="form-text text-danger">Questo campo è obbligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('capienza')?.errors?.number"
                >Questo campo dovrebbe essere un numero.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descrizione">Descrizione</label>
          <input
            type="text"
            class="form-control"
            name="descrizione"
            id="field_descrizione"
            data-cy="descrizione"
            formControlName="descrizione"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annulla</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salva</span>
        </button>
      </div>
    </form>
  </div>
</div>
