@if (prenotazioni) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(prenotazioni.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="prenotazioniDeleteDialogHeading">Conferma operazione di cancellazione</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p id="jhi-delete-prenotazioni-heading">Sei sicuro di volere eliminare Prenotazioni {{ prenotazioni.id }}?</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annulla</span>
      </button>

      <button id="jhi-confirm-delete-prenotazioni" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Elimina</span>
      </button>
    </div>
  </form>
}
