<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-eventi-heading" data-cy="EventiCreateUpdateHeading">Modifica Evento</h2>

      <div>
        <jhi-alert-error />

        @let titoloRef = editForm.get('titolo')!;
        <div class="mb-3">
          <label class="form-label" for="field_titolo">Titolo</label>
          <input type="text" class="form-control" id="field_titolo" formControlName="titolo" />
          @if (titoloRef.invalid && (titoloRef.dirty || titoloRef.touched)) {
            <div>
              @if (titoloRef.errors?.required) {
                <small class="form-text text-danger"> Questo campo è obbligatorio. </small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descrizione">Descrizione</label>
          <textarea class="form-control" id="field_descrizione" formControlName="descrizione" rows="4"></textarea>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="field_prezzo">Prezzo</label>
        <input type="number" class="form-control" id="field_prezzo" formControlName="prezzo" step="0.01" />
      </div>

      <div class="mt-4">
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annulla</span>
        </button>

        <button type="submit" id="save-entity" class="btn btn-primary" [disabled]="editForm.invalid || isSaving">
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salva</span>
        </button>
      </div>
    </form>
  </div>
</div>
