<div>
  <h2 id="page-heading" data-cy="EventiHeading">
    <span>Eventis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-eventi"
        [routerLink]="['/eventi/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Genera un nuovo Eventi</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (eventis().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Eventis found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titolo">
              <div class="d-flex">
                <span>Titolo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipo">
              <div class="d-flex">
                <span>Tipo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prezzo">
              <div class="d-flex">
                <span>Prezzo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenotazione.id">
              <div class="d-flex">
                <span>Prenotazione</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (eventi of eventis(); track trackId(eventi)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/eventi', eventi.id, 'view']">{{ eventi.id }}</a>
              </td>
              <td>{{ eventi.titolo }}</td>
              <td>{{ { null: '', PRIVATO: 'PRIVATO', PUBBLICO: 'PUBBLICO' }[eventi.tipo ?? 'null'] }}</td>
              <td>{{ eventi.prezzo }}</td>
              <td>
                @if (eventi.prenotazione) {
                  <div>
                    <a [routerLink]="['/prenotazioni', eventi.prenotazione.id, 'view']">{{ eventi.prenotazione.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/eventi', eventi.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizza</span>
                  </a>

                  <a [routerLink]="['/eventi', eventi.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Modifica</span>
                  </a>

                  <button type="submit" (click)="delete(eventi)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Elimina</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (eventis().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
