<nav data-cy="navbar" class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <img src="content/images/logo-jhipster.png" alt="Boardroom Logo" style="max-height: 80px; width: auto" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon icon="bars"></fa-icon>
    </button>

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <fa-icon icon="home" class="me-1"></fa-icon>
            <span>Home</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" (click)="navigazioneProtetta('/prenota-sala')" style="cursor: pointer">
            <fa-icon icon="calendar-alt" class="me-1"></fa-icon>
            <span>Prenota sala</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" (click)="navigazioneProtetta('/mie-prenotazioni')" style="cursor: pointer">
            <fa-icon icon="list" class="me-1"></fa-icon> <span>Le mie prenotazioni</span>
          </a>
        </li>

        @if (hasAnyAuthority('ROLE_ADMIN')) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
              <fa-icon icon="th-list" class="me-1"></fa-icon>
              <span>Entità</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a class="dropdown-item" routerLink="/sale" (click)="collapseNavbar()"><fa-icon icon="asterisk"></fa-icon> Sale</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/utenti" (click)="collapseNavbar()"><fa-icon icon="asterisk"></fa-icon> Utenti</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/stati-prenotazione" (click)="collapseNavbar()"
                  ><fa-icon icon="asterisk"></fa-icon> Stati</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/prenotazioni" (click)="collapseNavbar()"
                  ><fa-icon icon="asterisk"></fa-icon> Prenotazioni</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/eventi" (click)="collapseNavbar()"><fa-icon icon="asterisk"></fa-icon> Eventi</a>
              </li>
            </ul>
          </li>
        }

        <li class="nav-item" routerLinkActive="active">
          @let accountRef = account();
          @if (accountRef !== null) {
            <a
              class="nav-link d-flex align-items-center"
              routerLink="/profilo-utente"
              (click)="collapseNavbar()"
              title="Vai al mio profilo"
            >
              <div class="avatar-nav-circle">
                <img *ngIf="accountRef?.imageUrl" [src]="accountRef!.imageUrl" class="profile-image-nav" alt="Avatar" />
                <fa-icon icon="user" *ngIf="!accountRef?.imageUrl"></fa-icon>
              </div>
            </a>
          } @else {
            <a class="nav-link d-flex align-items-center" (click)="login()" style="cursor: pointer">
              <fa-icon icon="user" class="me-1"></fa-icon>
              <span>Accedi</span>
            </a>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>
