@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/flatly/variables';
@import 'bootstrap/scss/variables';

$boardroom-green: #28a745; // Verde Boardroom
$dark-grey: #444444;

.navbar {
  height: 120px !important;
  min-height: 120px !important;
  padding: 0 2rem !important;
  background-color: #ffffff !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05) !important;

  .navbar-nav {
    align-items: center !important;

    .nav-link {
      color: $dark-grey !important;
      font-weight: 700;
      font-size: 18px !important;
      height: 120px !important;
      display: flex !important;
      align-items: center !important;
      transition: all 0.3s ease;

      &.active,
      &:hover {
        color: $boardroom-green !important;
        fa-icon {
          color: $boardroom-green !important;
        }
      }
    }
  }
}

.profile-image {
  height: 45px !important;
  width: 45px !important;
  border: 2px solid $boardroom-green !important;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
}
