<nav data-cy="navbar" class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <img src="content/images/logo-jhipster.png" alt="Boardroom Logo" style="max-height: 80px; width: auto" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon icon="bars"></fa-icon>
    </button>

    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <fa-icon icon="home"></fa-icon>
            <span>Home</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/prenota-sala" (click)="collapseNavbar()">
            <fa-icon icon="calendar-alt"></fa-icon>
            <span>Prenota sala</span>
          </a>
        </li>

        @if (account() !== null) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
              <fa-icon icon="th-list"></fa-icon>
              <span>Entità</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="entity-menu">
              <li>
                <a class="dropdown-item" routerLink="/sale" (click)="collapseNavbar()"><fa-icon icon="asterisk"></fa-icon> Sale</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/utenti" (click)="collapseNavbar()"><fa-icon icon="asterisk"></fa-icon> Utenti</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/stati-prenotazione" (click)="collapseNavbar()"
                  ><fa-icon icon="asterisk"></fa-icon> Stati</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/prenotazioni" (click)="collapseNavbar()"
                  ><fa-icon icon="asterisk"></fa-icon> Prenotazioni</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/eventi" (click)="collapseNavbar()"><fa-icon icon="asterisk"></fa-icon> Eventi</a>
              </li>
            </ul>
          </li>
        }

        @if (hasAnyAuthority('ROLE_ADMIN')) {
          <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
              <fa-icon icon="users-cog"></fa-icon>
              <span>Amministratore</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="admin-menu">
              <li>
                <a class="dropdown-item" routerLink="/admin/user-management" (click)="collapseNavbar()"
                  ><fa-icon icon="users"></fa-icon> Gestione utenti</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/admin/metrics" (click)="collapseNavbar()"
                  ><fa-icon icon="tachometer-alt"></fa-icon> Metriche</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/admin/health" (click)="collapseNavbar()"
                  ><fa-icon icon="heart"></fa-icon> Integrità</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/admin/configuration" (click)="collapseNavbar()"
                  ><fa-icon icon="cogs"></fa-icon> Configurazione</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/admin/logs" (click)="collapseNavbar()"><fa-icon icon="tasks"></fa-icon> Log</a>
              </li>
              @if (openAPIEnabled) {
                <li>
                  <a class="dropdown-item" routerLink="/admin/docs" (click)="collapseNavbar()"><fa-icon icon="book"></fa-icon> API</a>
                </li>
              }
            </ul>
          </li>
        }

        <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active">
          @let accountRef = account();
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
            @if (!accountRef?.imageUrl) {
              <span><fa-icon icon="user"></fa-icon> <span>Utente</span></span>
            } @else {
              <img [src]="accountRef!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            }
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="account-menu">
            @if (accountRef !== null) {
              <li>
                <a class="dropdown-item" routerLink="/account/settings" (click)="collapseNavbar()"
                  ><fa-icon icon="wrench"></fa-icon> Impostazioni</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/account/password" (click)="collapseNavbar()"
                  ><fa-icon icon="lock"></fa-icon> Password</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()"><fa-icon icon="sign-out-alt"></fa-icon> Esci</a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()"><fa-icon icon="sign-in-alt"></fa-icon> Accesso</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/account/register" (click)="collapseNavbar()"
                  ><fa-icon icon="user-plus"></fa-icon> Registrazione</a
                >
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
