<!doctype html>
<html>
  <body>
    <h2>Prenotazione confermata</h2>

    <p>Ciao <strong th:text="${nome} + ' ' + ${cognome}"></strong>,</p>

    <p>Hai prenotato il tuo posto per:</p>

    <ul>
      <li><strong th:text="${titoloEvento}"></strong></li>
      <li th:text="'Sala: ' + ${salaNome}"></li>
      <li th:text="'Data: ' + ${dataPrenotazione}"></li>
      <li th:text="'Orario: ' + ${oraInizio} + ' - ' + ${oraFine}"></li>
    </ul>

    <p>Codice prenotazione: <strong th:text="${codicePre}"></strong></p>

    <p>Mostra questo QR code all’ingresso:</p>
    <img th:src="'cid:qrcode' + ${qrCod}" />

    <p>Grazie per aver scelto Boardroom.</p>
  </body>
</html>
